body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

.container {
    max-width: 90vw;
    margin: 2rem auto;
    padding: 1rem;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1, h2 {
    text-align: center;
}

.blockchain-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
    justify-content: center;
}

.block-card {
    border: 1px solid #9131f2;
    border-radius: 8px;
    padding: 10px;
    background: #faf3fd;
    width: 200px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
}

.block-card:hover {
    transform: scale(1.05);
}

.block-header {
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.actions {
    margin-top: 20px;
    text-align: center;
}
.options {
    display: flex; /* Arrange children in a row */
    justify-content: space-around; /* Add space between actions */
    align-items: flex-start; /* Align items at the top */
    margin: 20px 0;
    gap: 20px; /* Add spacing between the items */
}

button {
    padding: 10px 20px;
    background: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background: #0056b3;
}

input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}
